{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ tours.0.departure_ru }}</h1>
    <p class="mb-4">{% if tours|length == 1 %}Найден{% else %}Найдено{% endif %} {{ tours|length }} {% if tours|length == 1 %}тур{% elif tours|length >= 2 and tours|length <= 4 %}тура{% else %}туров{% endif %}, от {{ agg.min_price }} до {{ agg.max_price }} и от {{ agg.min_nights }} ночей до {{ agg.max_nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" width="300" height="200" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.country }}: {{ tour.title }}</h2>
            <p class="card-text">{{ tour.short_description }}</p>
            <p class="card-text"><b>{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} Р   {{ tour.stars_count }}★</b></p>
            <a href="{% url 'tour' tour.key %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}