{% extends 'base.html' %}

{% block container %}
  <main class="container mt-3">
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background-image: url('http://wp.widewallpapers.ru/2k/tourism/1280x800/tourism-wallpaper-1280x800-048.jpg'); background-position: center center">
        <h1 class="display-4">Замечательные туры</h1>
        <p class="lead">{{ base_info.1 }}</p>
        <p class="mt-5 w-50 mx-auto">{{ base_info.2 }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour in tours %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" width="300" height="200" alt="" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.country }}: {{ tour.title }}</h2>
            <p class="card-text">{{ tour.short_description }}</p>
            <p class="card-text"><b>{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} Р   {{ tour.stars_count }}★</b></p>
            <a href="{% url 'tour' tour.key %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
